body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #434336;
    background-color: #d5d8d6;
    margin: 0;
    padding: 20px;
    text-align: left;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    font-weight: 400;
}


h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.8;
}

.gallery {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 50px;
    align-items: flex-start;
}

.gallery-item {
    text-align: left;
}

.gallery-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.gallery-item p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.contact p {
    line-height: 1.8;
}

.contact a {
    color: #555;
    text-decoration: underline;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 80px;
    font-size: 12px;
    color: #888;
}

.company-info {
    display: grid;
    grid-template-columns: auto 1fr; /* 最初の列はコンテンツの幅、2番目の列は残りの幅 */
    gap: 5px 10px; /* 行と列の間のスペース */
    text-align: left;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.company-info dt {
    font-weight: bold;
    text-align: right; /* コロンを右寄せにするため */
}

.company-info dt::after {
    content: ":";
    margin-left: 5px;
}

.company-info dd {
    margin: 0; /* デフォルトのddのマージンをリセット */
}
