body {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #434336;
    background-color: #d5d8d6;
    margin: 0;
    padding: 20px;
    text-align: left;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    font-weight: 400;
}


h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.8;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.gallery-item {
    width: 80%;
    overflow: hidden; /* はみ出し防止 */
}

.gallery-item a {
    display: block;
    position: relative;
    line-height: 0; /* aタグの余分な高さを消す */
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.overlay .brand-name {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.gallery-item a:hover .overlay {
    opacity: 1;
}

.contact p {
    line-height: 1.8;
}

.contact a {
    color: #555;
    text-decoration: underline;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 80px;
    font-size: 12px;
    color: #888;
}

.company-info {
    display: grid;
    grid-template-columns: auto 1fr; /* 最初の列はコンテンツの幅、2番目の列は残りの幅 */
    gap: 5px 10px; /* 行と列の間のスペース */
    text-align: left;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.company-info dt {
    font-weight: bold;
    text-align: right; /* コロンを右寄せにするため */
}

.company-info dt::after {
    content: ":";
    margin-left: 5px;
}

.company-info dd {
    margin: 0; /* デフォルトのddのマージンをリセット */
}

img[alt="enno"] {
    width: 150px;
    height: auto; /* アスペクト比を維持 */
}

@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }

    .company-info {
        grid-template-columns: 1fr;
    }

    .company-info dt {
        text-align: left;
        font-weight: bold;
    }

    .company-info dt::after {
        content: "";
    }

    .company-info dd {
        margin-left: 1em;
    }
}
